* {
    font-family: "DejaVu Sans Mono", monospace;
    color: rgb(116, 43, 61);
    text-align: center;
}

body {
    margin: 0
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

h1 {
    background: rgb(116, 43, 61);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}