
* {
    font-family: "DejaVu Sans Mono", monospace;
    color: rgb(116, 43, 61);
    text-align: center;
}

body {
    margin: 0
}

h1 {
    background: rgb(116, 43, 61);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}

p{
    max-width: 700px;
    text-align: center;
}

.exImg {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 3px inset rgb(116, 43, 61);
}