* {
    font-family: "DejaVu Sans Mono", monospace;
    --mpc-red: rgb(116, 43, 61);
    color: var(--mpc-red);
    text-align: center;

}

body {
    margin: 0
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    align-self: flex-start;
}

.club-name {
    background: var(--mpc-red);
    color: rgb(255, 255, 255);
    font-size: min(4vw, 4vh);
    padding: 2.2vh 0 2.2vh 0;
    margin: 0;
    white-space: nowrap;
}

.navbar {
    float: left;
    display: block;
    margin: 0;
    padding-left: 0px;
    /* Removes whitespace */
    font-size: 0;
}

.navbar-item {
    display: inline-block;
    padding: 2vh 0 2vh 0;
    width: 20vw;
    font-size: min(2.5vw, 2.5vh);
    background-color: gray;
    color: white;
    white-space: none;
    text-decoration: none;
}

.navbar-item:visited,
.navbar-item:link {
    background-color: gray;
    color: white;
}

.navbar-item:hover,
.navbar-item:active {
    background-color: var(--mpc-red);
    color: white;
}