* {
    font-family: "DejaVu Sans Mono", monospace;
    --mpc-red: rgb(116, 43, 61);
    color: var(--mpc-red);
    text-align: center;

}

body {
    margin: 0
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
}

h1 {
    background: var(--mpc-red);
    color: rgb(255, 255, 255);
    height: 5vh;
    font-size: max(2vw, 3vh);
    margin: 0;
}

.navbar {
    float: left;
    display: block;
    margin: 0;
    padding-left: 0px;
    /* Removes whitespace */
    font-size: 0;
}

.navbar-item {
    display: inline-block;
    padding: 2vh 0 2vh 0;
    width: 20vw;
    height: 3vh;
    font-size: 1.5vw;
    background-color: gray;
    color: white;
    white-space: none;
    text-decoration: none;
}

.nav-link {
    background: transparent;
    color: white;
    text-decoration: none;
}

.navbar-item:visited,
.navbar-item:link {
    background-color: gray;
    color: white;
}

.navbar-item:hover,
.nav-link:hover {
    background-color: var(--mpc-red);
    color: white;
}