* {
    font-family: "DejaVu Sans Mono", monospace;
    --mpc-red: rgb(116, 43, 61);
    color: var(--mpc-red);
    text-align: center;
}

body {
    margin: 0
}

h2 {
    margin-top: 3vh;
}

h3 {
    color: black;
    text-decoration: underline;
}

p {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

li {
    margin: 0;
    padding: 0;
    display: inline;
}


.exImg {
    align-self: center;
    height: 50vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    border: 3px inset var(--mpc-red);
}

.calendar {
    width: max(50vw, 800px);
    height: max(60vh, 600px);
    text-align: center;
    border: 0;
}

/* Use this div around all site content. Should automatically handle spacing around header & footer*/
.content {
    /* Header height around 15vh*/
    /* Footer height is 14vh*/
    margin-top: 17vh;
    margin-bottom: 2vh;
    min-height: 67vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}