* {
    font-family: "DejaVu Sans Mono", monospace;
    color: rgb(116, 43, 61);
    text-align: center;
}

body {
    margin: 0
}

h2 {
    margin-top: 3vh;
}

p {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

li {
    margin: 0;
    padding: 0;
    display: inline;
}


.exImg {
    align-self: center;
    height: 50vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    border: 3px inset rgb(116, 43, 61);
}

.calendar {
    width: max(50vw, 700px);
    height: max(60vh, 500px);
    text-align: center;
    border: 0;
}

/* Use this div around all site content. Should automatically handle spacing around header & footer*/
.content {
    margin-top: 16vh;
    margin-bottom: 5vh;
    width: 100%;
    margin-left: 0;
    margin-right:0;
}